<h1 style="color:red;">FUZZY MATCHING ALGORITHM</h1>

<p style="color:blue;">So the first task is all about using dynamic programming concepts such as Levenshtein distances and the n-gram algorithm. I have implemented three algorithms to solve it for a list of words to correct their form.</p>

<h2 style="color:blue;">Three Algorithms Used Are:</h2>

<ol style="color:blue;">
    <li><strong>Levenshtein Distance</strong></li>
    <li><strong>Jaccard Similarity for a Word</strong></li>
    <li><strong>Vectorization and Cosine Similarity</strong></li>
</ol>

<h1 style="color:green;">1. LEVENSHTEIN DISTANCE</h1>

<p style="color:purple;">
    We have implemented the basic concept of Levenshtein distance that if it is minimum for a word, then the pairs of words will be the best match. We use an iterative method to calculate Levenshtein distance, which is a better approach than the recursive approach. Then we use a fuzzy matching function to return the correct matching word for a list of incorrect words extracted from 'TaskData.csv' in a very simple approach: if the Levenshtein distance is minimum, then that is the correct pair of words and it returns in DataFrame format to display as a table. We can also return a list.
</p>

In [7]:
import pandas as pd
df=pd.read_csv('TaskData.csv')
def iterative_levdist(s, t):
\\

    rows = len(s)+1
    cols = len(t)+1
    dist = [[0 for x in range(cols)] for x in range(rows)]

    # source prefixes can be transformed into empty strings
    # by deletions:
    for i in range(1, rows):
        dist[i][0] = i

    # target prefixes can be created from an empty source string
    # by inserting the characters
    for i in range(1, cols):
        dist[0][i] = i

    for col in range(1, cols):
        for row in range(1, rows):
            if s[row-1] == t[col-1]:
                cost = 0
            else:
                cost = 1
            dist[row][col] = min(dist[row-1][col] + 1,      # deletion
                                 dist[row][col-1] + 1,      # insertion
                                 dist[row-1][col-1] + cost) # substitution


    return dist[row][col]
def fuzzymatching(target_values):
      l=['cokter']
      for k in df.cokter:
          l.append(k)
      for i in range(len(l)):
        t=9999
        l[i]=l[i].lower()#this two lines basicly for change the list of given dataset into correct data list like
        l[i]=l[i].capitalize()
        for j in target_values:
          t=min(t,iterative_levdist(l[i],j))
        for j in target_values:
          if iterative_levdist(l[i],j)==t:
            l[i]=j
            break
      df2=pd.DataFrame({'new values':l})
      return df2
carrer_opt=['Doctor','Lawyer','Teacher','Engineer','Accountant','Nurse','Police','Architect','Dentist','Pharmacist']#main words
df3=fuzzymatching(carrer_opt)
df3

      new values
0         Doctor
1        Dentist
2       Engineer
3         Police
4       Engineer
...          ...
1401    Engineer
1402  Accountant
1403  Accountant
1404      Police
1405    Engineer

[1406 rows x 1 columns]

<h1 style="color:orange;">2. Jaccard Similarity</h1>

<p style="color:teal;">
    So we implemented a basic concept of Jaccard similarity ratio to apply it to our dataset. We calculate the Jaccard similarity between a word in the given dataset and each word in the correct list, and the pair with the maximum value is the best pairing word. Similarly, we return a database.
</p>

<p style="color:teal;">
    <strong>Jaccard Similarity Ratio Formula:</strong><br>
    <em>J(A, B) = |A ∩ B| / |A ∪ B|</em>
</p>

In [8]:
import pandas as pd
df=pd.read_csv('TaskData.csv')
def Jaccard_similarity(a,b):#for single word only different algorithm for group of words(sentence correction)
    g=set(a+b)
    return (len(a)+len(b)-len(g))/len(g)
def fuzzymatching(target_values):
      l=['cokter']
      for k in df.cokter:
          l.append(k)
      for i in range(len(l)):
        t=-9999.0
        l[i]=l[i].lower()
        l[i]=l[i].capitalize()
        for j in target_values:
          t=max(t,Jaccard_similarity(l[i],j))
        for j in target_values:
          if Jaccard_similarity(l[i],j)==t:
            l[i]=j
            break
      df2=pd.DataFrame({'new values':l})
      return df2
carrer_opt=['Doctor','Lawyer','Teacher','Engineer','Accountant','Nurse','Police','Architect','Dentist','Pharmacist']
df3=fuzzymatching(carrer_opt)
df3

      new values
0         Doctor
1        Dentist
2       Engineer
3         Police
4       Engineer
...          ...
1401    Engineer
1402  Accountant
1403  Accountant
1404      Police
1405    Engineer

[1406 rows x 1 columns]

<h1 style="color:darkblue;">Function for Calculating Jaccard Similarity Between Sentences</h1>

In [9]:
def Jaccard_Similarity(doc1, doc2):#only works for more than one word
    # List the unique words in a document
    words_doc1 = set(doc1.lower().split())
    words_doc2 = set(doc2.lower().split())

    # Find the intersection of words list of doc1 & doc2
    intersection = words_doc1.intersection(words_doc2)

    # Find the union of words list of doc1 & doc2
    union = words_doc1.union(words_doc2)

    # Calculate Jaccard similarity score
    # using length of intersection set divided by length of union set
    return float(len(intersection) / len(union))

<h1 style="color:darkred;">3. Vectorization and Cosine Similarity</h1>

<p style="color:darkgreen;">
    Here we implement the simple concept of vectorization. We convert each pair of words for a particular word in the dataset to its vector form and then calculate the cosine similarity (cosine of the angle between them) between the two vectors. The pair with the maximum cosine similarity is the correct pair, and we return it in the dataset.
</p>

<p style="color:darkgreen;">
    <strong>Cosine Similarity Formula:</strong><br>
    <em>cos(θ) = (a · b) / (||a|| ||b||)</em>
</p>

In [10]:
import pandas as pd
import numpy as np
df=pd.read_csv('TaskData.csv')
def vectorization(a, b):#vectorization using two  numpy array counting the particular letter in that word
    w = set(a + b)
    l1 = np.zeros([len(w)])
    l2 = np.zeros([len(w)])
    c = list(w)
    for i in range(len(w)):
        for j in a:
            if j == c[i]:
                l1[i] = l1[i] + 1
        for j in b:
            if j==c[i]:
                l2[i]=l2[i]+1
    return l1,l2


def cosine_similarity(x, y):
    # Ensure length of x and y are the same
    if len(x) != len(y):
        return None

    # Compute the dot product between x and y
    dot_product = np.dot(x, y)

    # Compute the L2 norms (magnitudes) of x and y
    magnitude_x = np.sqrt(np.sum(x ** 2))
    magnitude_y = np.sqrt(np.sum(y ** 2))

    # Compute the cosine similarity
    cs = dot_product / (magnitude_x * magnitude_y)

    return cs
def fuzzymatching(target_values):
      l=['cokter']
      for k in df.cokter:
          l.append(k)
      for i in range(len(l)):
        t=-9999.0
        l[i]=l[i].lower()
        l[i]=l[i].capitalize()
        for j in target_values:
          a,b=vectorization(l[i],j)
          t=max(t,cosine_similarity(a,b))
        for j in target_values:
          a,b=vectorization(l[i],j)
          if cosine_similarity(a,b)==t:
            l[i]=j
            break
      df2=pd.DataFrame({'new values':l})
      return df2
carrer_opt=['Doctor','Lawyer','Teacher','Engineer','Accountant','Nurse','Police','Architect','Dentist','Pharmacist']
df3=fuzzymatching(carrer_opt)
df3

      new values
0         Doctor
1        Dentist
2       Engineer
3         Police
4       Engineer
...          ...
1401    Engineer
1402  Accountant
1403  Accountant
1404      Police
1405    Engineer

[1406 rows x 1 columns]